* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color:hsl(217, 54%, 11%) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 240px;
  height: 430px;
  background-color:   hsl(216, 50%, 16%);
  border-radius: 10px;
}

img{
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.box >h2{
  font-size: 1.3rem;
  color: aliceblue;
  margin-left: 20px;
  margin-top: 20px;
}

.box1{
  width: 200px;
  height: 50px;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-top: 15px;
  color: hsl(215, 51%, 70%);
}

.box2{
  width: 200px;
  height: 35px;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
}

.logo1>img{
  width: 10px;
  margin-top: 0%;
  margin-left: 0%;

}
.box2>p{
  color: hsl(178, 100%, 50%);
  margin-top: 0px;
  font-size: 1.1rem;
}
.logo2>img{
  width: 15px;
  margin-top: 3px;
}
.logo2 >p{
  color: hsl(178, 100%, 50%);
  margin-top: 0px;
  font-size: 1.1rem;
}
.line{
  width: 200px;
  height: 0.01rem;
  background-color: aliceblue;
}

.footer{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.footer >img{
  width: 25px;
  margin-left: 0%;
  margin-top: 3px;
}
.footer >div>p{
  color: hsl(215, 51%, 70%);
  margin-top: 5px;
  margin-left: 10px;
  font-size: 0.9rem;
  font-style: none;
}
.last{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.9rem;
  color: aliceblue;
}
